snippet yard
	# ${1}.
	#
	# @param [${2}] ${3}
	# @return [${4}] ${5}.
snippet yardex
	# Converts the object into textual markup given a specific format.
	#
	# @param [Symbol] format the format type, `:text` or `:html`
	# @return [String] the object converted into the expected format.
